table {
    text-align: center;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

th, td {
    text-align: left;
    border: 1px solid black;
    padding: 8px;
    margin: 5%;
}

th {
    background-color: #f2f2f2;
}
body {
    background: rgb(250,250,249);
    background: linear-gradient(90deg, rgba(250,250,249,1) 0%, rgb(24, 200, 216) 100%);
    max-width:900px !important;
    margin:auto !important;
}

nav {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
}

